# MCP サーバー環境設定
MCP_PORT=3001
ENVIRONMENT=local # local | preview | production

# ドメイン設定
BASE_DOMAIN=stg.kagami.kyosuke.dev # 指定時、baseUrl は https://mcp.stg.kagami.kyosuke.dev、apiUrl は https://api.stg.kagami.kyosuke.dev に自動展開されます
BASE_URL=https://mcp.stg.kagami.kyosuke.dev
API_URL=https://api.stg.kagami.kyosuke.dev
