# サーバー環境設定
PORT=3000
ENVIRONMENT=local # local | preview | production

# ドメインおよびベースURL設定
BASE_DOMAIN=stg.kagami.kyosuke.dev # 指定時、BASE_URL は https://api.stg.kagami.kyosuke.dev に自動補完されます
BASE_URL=https://api.stg.kagami.kyosuke.dev

# LINE Messaging API 設定
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
LINE_WEBHOOK_URL=https://api.stg.kagami.kyosuke.dev/api/line/webhook
